<ion-view title="Editar" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="adicionar-form4" class="list" ng-submit="editarUsuario(user,newPassword)" name="editarUsuarioForm">
      <label class="item item-input item-floating-label" id="adicionar-input5">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="user.userName" ng-required="true">
      </label>
      <label class="item item-input item-floating-label" id="adicionar-input6">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password" ng-required="true">
      </label>
      <label class="item item-input item-floating-label" id="adicionar-input7">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="New Password" ng-model="newPassword" ng-required="true">
      </label>
      <button type="submit" id="criarConta-button5" class="button icon-left button-balanced  button-block" ng-disabled="criarContaForm.$invalid">Editar</button>
    </form>
  </ion-content>
</ion-view>